body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  background-color: #191919;
  color: #fff;
}
header {
  margin: 26px 0;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}
a {
  list-style: none;
  cursor: pointer;
}
.nav-bar {
  margin: 0;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  column-gap: 40px;
  display: flex;
}
.color-blue {
  color: #118da8;
}
section {
  padding: 20px;
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.container {
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
}
.img-frame {
  position: absolute;
  top: 115px;
  left: 45px;
}
.banner {
  padding: 0 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 70px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 3.200000047683716px;
}
.banner-line {
  width: 160px;
  position: absolute;
}
p {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
}
.text-big {
  font-size: 75px;
  padding-right: 25px;
}
.text-bold {
  font-size: 80px;
  font-weight: 700;
}
.music-venues {
  padding: 0 22px;
  margin-top: 74px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.logo-music-venues{
    margin-right: 17px;
    width: 32px;
    height: auto;
}
